body {
  background-color: lightyellow; 
}

nav a { 
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
}

nav {
  display: flex; 
  justify-content: flex-end;

}
a:hover { 
  background-color: #add8e6;
}

.pageBtn {
  background-color: gainsboro;
  border-color: gainsboro;
  padding: 10px;
}

.pageBtn:hover {
  background-color: pink;
}

.logo {
  height: 175px;
	width: 400px;
	object-fit: cover;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
